*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styling */
/* background image */
body {
    overflow: scroll;
    background-image: url(https://i.postimg.cc/28zPgbQm/amazing-picture-of-nike-jordan-1-60aettd8laxbjtia.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: rgba(255, 255, 255, 0.5);
    color: #343a40;
}

/* main */

.MARGIN {
    margin-top: 50vh;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 40vh;
    text-align: center;
}

 /* logo */

.logo {
    width: 40px;
}

/* footer styling */
#f {
    margin-top: 10vh;
    background-color: #343a40;
}

/* search and sort btn */

#between {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 2rem;
    position: relative;
}

#bottom {
    margin-bottom: 2rem;
}



/* about */

#about {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 60px;
    font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    background-color: rgba(53, 30, 1, 0.945);  
    color: rgb(139, 139, 139);
    margin-bottom: 5rem;
}


/* Cards Product page styling*/

#cards {
    margin-top: 3rem;
}

/* Search and sort section styling */

#display {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* contact page styling*/

.wrapper { 
    box-sizing: border-box;
    background-color: #e0e0e0;
    position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 370px; 
    width: 100%; 
    background: #f7c4c4; 
    padding: 20px; 
    border-radius: 40px; 
    box-shadow: 5px 5px 4px
        rgb(255, 255, 255); 
} 
  
.wrapper h2 { 
    text-align: center; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    color: #332902; 
} 
  
.wrapper .input_field { 
    margin-bottom: 10px; 
} 
  
.wrapper .input_field input[type="text"],.wrapper textarea { 
    border: 5px solid #5f5e5e; 
    width: 100%; 
    padding: 10px; 
} 
  
.wrapper textarea { 
    resize: none; 
    height: 100px; 
} 
  
.wrapper .btn input[type="submit"] { 
    border: 0px; 
    margin-top: 15px; 
    padding: 10px; 
    text-align: center; 
    width: 100%; 
    background: #b2fcaa; 
    color: #000000; 
    text-transform: uppercase; 
    letter-spacing: 5px; 
    font-weight: bold; 
    border-radius: 30px; 
    cursor: pointer; 
} 
  
/* text decoration */

#textdec {
    color: #e0e0e0;
}


